header {
    padding: 50px 100px;
    background-color: chocolate;
    color: "White";
    font-size: 32;
    font-family: sans-serif;
    text-align: center;
}
.content {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background-image: url("../img/nice.png");
    background-repeat: no-repeat;
    opacity: 0.8;
    background-size: cover;
    /*background-color: rgb(25, 41, 54);*/
    font-family: cursive;
    text-align: center;
    color: rgb(22, 18, 4);
}